<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="keywords" content="HTML">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Trackgenix Login Page">
        <meta name="author" content="Juan Ramos">
        <link rel="stylesheet" href="../styles/reset.css">
        <link rel="stylesheet" href="../styles/header.css"> 
        <link rel="stylesheet" href="../styles/login.css">    
        <link rel="stylesheet" href="../styles/footer.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>Trackgenix Login Page</title>
        <script src="../javascript/login.js"></script>
    </head>
    <body>
        <header>
            <div id="nav-bar">
                <div>
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </div>
                <div class="tutorials-contact">
                    <a href="https://www.w3schools.com/css/" target="_blank">Tutorials |</a>
                    <a href="https://www.imdb.com/title/tt0118884/" target="_blank"> Contact</a>
                </div>
                <div class="search">
                    <input type="text" placeholder="Search" class="search-box">
                    <img id="lens" src="../../assets/search.png" width="15" height="15">               
                </div>
                <div class="buttons">
                    <input type="button"  value="Home" class="home">                   
                </div>        
            </div>            
        </header>
        <main>
            <section class="body-container">                
                    <div id="logo-title-container" class="main-body" >
                        <div class="logo"> 
                            <img src="../../assets/logo.jpg" alt="Trackgenix-logo">
                        </div>
                        <div class="logo">
                            <h1>TRACKGENIX</h1>
                            <h4>DATA MANAGEMENT</h4>
                        </div>   
                    </div>   
                    <div id="login" class="main-body">
                        <h2>Login</h2>
                        <div id="login-fields">
                            <label>E-mail</label>
                            <input id="user" type="email" placeholder="Enter e-mail">
                            <p class="error">Invalid e-mail</p>
                            <label>Password</label>
                            <input id="pwd"  type="password" placeholder="Password">
                            <p class="error">Invalid password</p>
                        </div>
                        <div id="below-fields">
                            <input type="checkbox"> <label></label>Remember Me</label>
                            <label id="forgot-password">Forgot your password?</label>
                        </div>
                        <input id="login-button" type="button" value="Login">
                    </div>                 
            </section>                
        </main>   
        <footer>
            <div id="social-media" >
                <a href="https://linkdin.com">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
                <a href="https://twitter.com/login">
                    <i class="fa fa-twitter" aria-hidden="true"></i>   
                </a>
                <a href="https://facebook.com">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="https://instagram.com">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
                <a href="https://github.com">
                    <i class="fa fa-github-square" aria-hidden="true"></i>
                </a>
            </div>
            <div id="copy">
                <p>Montevideo, Uruguay</p>
                <p>Copyright 2022 Radium Rocket, all rights reserved.</p>
            </div>            
        </footer>
    </body> 
</html>