<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="keywords" content="HTML">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Trackgenix Landing Page">
        <meta name="author" content="Juan Ramos">        
        <link rel="stylesheet" href="../styles/reset.css">
        <link rel="stylesheet" href="../styles/header.css">   
		<link rel="stylesheet" href="../styles/sign-up.css">  
        <link rel="stylesheet" href="../styles/footer.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>Trackgenix Sign Up Page</title>
        <script src="../javascript/sign-up.js"></script>
    </head>
    <body>
        <header>
            <div id="nav-bar">
                <div>
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </div>
                <div class="tutorials-contact">
                    <a href="https://www.w3schools.com/css/" target="_blank">Tutorials |</a>
                    <a href="https://www.imdb.com/title/tt0118884/" target="_blank"> Contact</a>
                </div>
                <div class="search">
                    <input type="text" placeholder="Search" class="search-box">
                    <img id="lens" src="../../assets/search.png" width="15" height="15">               
                </div>
                <div class="buttons">
                    <input type="button"  value="Home" class="home">                    
                </div>        
            </div>            
        </header>
        <main>
            <section class="body-container">                
                    <div class="main-body" id="logo-title-container">
                        <div class="logo"> 
                            <img src="../../assets/logo.jpg" alt="Trackgenix-logo">
                        </div>
                        <div class="logo">
                            <h1>TRACKGENIX</h1>
                            <h4>DATA MANAGEMENT</h4>
                        </div>   
                    </div>
					<section class="sign-up-fields">
                         <div class="column-container">
                            <div>
                                <label>Name</label>
                                <input id="name" type="text" placeholder="Write your name please">
                                <p class="error">Must be at least 4 letters and only letters accepted.</p>
                            </div>
                            <div>
                                <label>Last Name</label>
                                <input id="last-name" type="text" placeholder="Write your last name please">
                                <p class="error">Must be at least 4 letters and only letters are accepted.</p>
                            </div>
                            <div>
                                <label>ID</label>
                                <input id="id" type="text" placeholder="Write your ID number please">
                                <p class="error">Id must be at least 7 numbers and only numbers are accepted.</p>
                            </div>
                            <div>
                                <label>Birth Date</label>
                                <input id="birth-date" type="text" placeholder="Enter your birth date. Please follow the format dd/mm/yyyy">
                                <p class="error">Must indicate birth date in specific format dd/mm/yyyy</p>
                            </div>
                            <div>
                                <label>Phone Number</label>
                                <input id="phone" type="text" placeholder="Write your phone number please">
                                <p class="error">Must be 10 numbers.</p>
                            </div>
                            <div>
                                <label>Adress</label>
                                <input id="adress" type="text" placeholder="Enter your adress please">
                                <p class="error"> Adress must be at least 5 alphanumeric characters and a space.</p>
                            </div>
                        </div>
                        <div class="column-container" >
                            <div>
                                <label>Locality</label>
                                <input id="locality" type="text" placeholder="Enter city of residence please">
                                <p class="error">Must have at least 3 letters and a number.</p>
                            </div>
                            <div>
                                <label>Postal Code</label>
                                <input id="postal-code" type="text" placeholder="Enter your postal code please">
                                <p class="error">Must have 4 or 5 characters and only numbers are accepted.</p>
                            </div>
                            <div>
                                <label>E-mail</label>
                                <input id="email" type="email" placeholder="Enter your e-mail adress please">
                                <p class="error">Invalid adress</p>
                            </div>
                            <div>
                                <label>Password</label>
                                <input id="password" type="password" placeholder="Must be at least 8 characters, letters & numbers required">
                                <p class="error">Invalid password.</p>
                            </div>
                            <div>
                                <label>Repeat Password</label>
                                <input id="repeat-password" type="password" placeholder="Repeat Password please">
                                <p class="error">Invalid password</p>
                            </div>
                            <div>
                                <input id="sign-up-button" type="button" value="Sign Up" >
                            </div>
                        </div>
					</section>
					

            </section>                
        </main>   
        <footer>
            <div id="social-media" >
                <a href="https://linkdin.com">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
                <a href="https://twitter.com/login">
                    <i class="fa fa-twitter" aria-hidden="true"></i>   
                </a>
                <a href="https://facebook.com">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="https://instagram.com">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
                <a href="https://github.com">
                    <i class="fa fa-github-square" aria-hidden="true"></i>
                </a>
            </div>
            <div id="copy">
                <p>Montevideo, Uruguay</p>
                <p>Copyright 2022 Radium Rocket, all rights reserved.</p>
            </div>            
        </footer>
    </body> 
</html>