*{
    color: black;
    font-size: medium;
    font-family: "roboto", sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}
#nav-bar{
    background-color: #50A780;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5% 2%;
    width: 100%;
}
.search-box{
    border: none;
}
#nav-bar div:nth-child(1){
    flex: 10;
}
#nav-bar div:nth-child(2){
    display: none;
    flex: 20;
}
#nav-bar div:nth-child(3){
    display: flex;
    order: 1;
}
.search input{
    display: none;   
}
#nav-bar div:nth-child(4){
    display: flex;
    justify-content: space-around;
    flex: 40;
   
    
    
}
.login, .signup{
    flex-basis: 30%;
    border-radius: 20px;
    
      
    
}






@media screen and (min-width:768px){
    #nav-bar div:nth-child(2){
        display: flex;
        flex: 20;
    }
    .search input{
        display: flex;
    }
    #nav-bar div:nth-child(3){
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: white;
        border-radius: 20px;
        padding: 0.2% 3%;
        flex: 35;
        order: 0;   
        
    }

}

@media screen and (min-width:1024px){

}



