*{
    box-sizing: border-box;
}
h1{
    font-size: 34px;
    font-weight: bold;
}
h2{
    font-size: 30px;
    font-weight: bold;
}
h4{
    font-size: 20px;
    font-weight: bold;
}
li{
    font-size: 12px;
}
.get-info{
    display: none;
}
main{
    width: 100%;
    /* background: #eee;   */
}

.body-container{
    display: flex;
    flex-direction: column;
    /* background: #ccc; */
    /* border: solid red; */
    padding: 3%;
    
    
    

}
.main-body{
    padding: 3%;
    overflow: hidden;
    /* border: solid black; */

}

#logo-title-container{
    display: flex;    
    justify-content: center;
}
.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: auto;
    height: 80px;
}


#heart{    
    display: flex;
    flex-direction: column;
    text-align: center;   
    align-items: center;
}

#big-image{
    width: auto;
    height: 243px;
}

.figures{
    display: flex;
    flex-wrap: wrap;
    padding: 10% 0;
    justify-content: center;
}
.fig{
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 5px #505168;
    margin: 5%;
    justify-content: flex-end;
    
    
    
}
.fig img{
    width: 100%;
    height: 80%;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25))  
}
.fig figcaption{
    background-color: #efe7e7;
    box-shadow: 0px 5px 5px #505168;
}

.catchy div{
    display: flex;
    flex-direction: column;
    text-align: center;
    
    
    

}
.catchy div ul{
    padding: 5% 0;
}


#about-us{
    border-radius: 20px;
    background-color: #E9E9E9;
    
    
}


.body-container :nth-child(4) :nth-child(1){
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.body-container :nth-child(4) :nth-child(2){
    display: flex;
    flex-direction: row;
    text-align: left;
    
    padding-bottom: 5%;
}

.body-container :nth-child(4) :nth-child(3){
    display: flex;
    flex-direction: row;
    text-align: left;
    padding-top: 5%;
}
.about-us img{
    flex: 1;
    height: auto;
}
.about-us p{
    flex: 2.5;
}

.side-to-side{
    display: flex;
    background: #50A780;
    justify-content: space-evenly;
    padding: 5% 0;
    text-align: center;

}

.side-to-side label{
    font-size: 12;
    
    
}
.side-to-side li{
    
    color: white;
    font-size: 11px;
}
.side-to-side ul{
    padding-top: 10%;
}
.side-to-side :nth-child(1){
    flex: 1;
}
.side-to-side :nth-child(3){
    flex: 1;
}
#company{
    
    flex: 1;
    border-right: solid black;
    border-left: solid black;
}



/* 
MEDIA QUERIES
MEDIA QUERIES */

@media screen and (min-width:768px){
    main{
        width: 80%;
        margin: 0 10%;
    }
    #logo-title-container{
        justify-content: flex-start;
        
    }
    #heart{
        display: flex;
        flex-direction: row;
        text-align: left;
    }
    #big-image{
        max-width: 70%;
        width: auto;
        height: 328px;
        padding-right: 2%;
    }

    .container-figures-catchy{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        text-align: left;
        
    }
    .figures, .catchy{
        padding: 5% 0;

    }
    .catchy div h2{
        text-align: left;
    }
    .catchy div li{
        
        font-size: 15px;
        
    }
    .catchy div ul{
        text-align: left;
    }


}  



@media screen and (min-width:1024px){
    main{
        width: 80%;
    }
    .container-figures-catchy{
        display: flex;
        flex-direction: column;
    }
    .figures{
        display: flex;
        flex-wrap: nowrap;
       
        justify-content: center;
    }
    .fig{
        margin: 3%;
        flex: none;
        
    }
    .fig img{
        width: 100%;
        height: 80%;
        
    }
    .catchy{
        display: flex;
        
    }
    .catchy div{
        margin: 0 2%
    };
    .catchy h2{
        font-size: 27px;
    }
}

/*
MEDIA QUERIES
MEDIA QUERIES */
